doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.cdnfonts.com/css/century-gothic-paneuropean", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  body
    block content
