:root {
  --background-color: #FBFADA;
  --color1 :  linear-gradient(to bottom , rgb(173, 188, 159), #94c665);
  --color2 : #436850;
  --color3 : #12372A;
  overflow: hidden;
  
}

html, body {
  font-family: Calibri;
  font-family: 'Century Gothic Paneuropean', sans-serif;
  height: 100%;
  max-height:100%;
  margin: 0px auto;
  overflow: none;
}

.grid-container {
  background-image: var(--color1);
  display: grid;
  position: relative;
  grid-template-columns: 200px auto;
  grid-template-rows: 90% 10%;
  grid-template-areas:
      "aside main"
      "footer footer";
  
}

.grid-container-login {
  background-image: var(--color1);
  display: grid;
  position: relative;
  grid-template-rows: 200px 300px auto;
  grid-template-columns: auto 500px auto;
  grid-template-areas:
      "header header header"
      ". main ."
      "footer footer footer";
  row-gap: 50px;

}

.grid-container-cursos {
  background-image: var(--color1);
  display: grid;
  position: relative;
  grid-template-rows: 50px 300px auto;
  grid-template-columns: 200px 500px auto;
  grid-template-areas:
      "header header header"
      ". main ."
      "footer footer footer";
  row-gap: 50px;
}



main{
  display: flex;
  grid-area: main;
  box-shadow:  0px 0px 30px black ;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.inputs{
  margin-top: 15%;
}

.input{
  display: flex;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.login_button{
  display: inline-block;
  margin: 0 auto;
  margin-left: 20%;
  margin-top: 20px;
  width: 60%;
  text-align:center;
  line-height: 35px
}

#user-geral{
  position: relative;
  width: 60%;
  height: 75%;
  margin: 0px auto;
  margin-top: 100px;
  background-color: var(--background-color);
  border-top-left-radius: 25px;    
  box-shadow: 0px 0px 10px black;  
}

#user-foto{
  position: absolute;
  text-align: center;
  top:-50px;
  left: 50%;
  transform: translateX(-50%);
  & img{
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--color1);
  }
}

#user-info{
  display: flex;
  flex-direction: column;
  position:absolute;
  width: 400px;
  max-height: 86%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;

  & #user-edit-group{
    margin: 20px;
  } 
  & label{
    display: block;
  }
  & input{
    width: 100%;
    display: block;
  }
  & button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  & .no.pointer{
    cursor: pointer;
  }
}



#cursos-geral{
  display: grid;
  position: relative;
  grid-template-rows: 70px auto;
  grid-template-columns: auto;
  grid-template-areas:
      "header"
      "main";
  width: 90%;
  height: 90%;
  background-color: var(--background-color);
  box-shadow: 0px 0px 10px black; 
}

#cursos-header{
  margin-bottom: 0px;
  grid-area: header;
  display: flex;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #12372A;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#divBusca{
  background-color:#E0EEEE;
  border:solid 2px ;
  border-radius:10px;
  width:300px;
  height:32px;
  margin-right: 20px;
  align-items: center;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
  margin-left: 5px;
}

#divBusca img{
  float:left;
  width: 30px;
}
#cursos-main{
  display: block;
  height: 100%;
  max-height: 820px;
  width: 100%;
  grid-area: main;
  overflow-x: hidden;
}

#curso-main{
  grid-area: main;
  z-index: 2;
  display: grid;
  grid-template-rows: 8% 92%;
  grid-template-columns: 100%;
  grid-template-areas:
      "selector"
      "folder";
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  border:solid 1px ;
}

.curso-main-edit{
  grid-area: main;
  z-index: 2;
  display: grid;
  grid-template-columns: 40% 60% ;
  grid-template-areas:
      "left right";
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  border:solid 1px ;
  position: relative;
}

.left-side{
  width: 100%;
  grid-area: left;
}

.delete-sum{
  position: absolute;
  right: 10px;
  top: 10px;
}

#selector{
  background-color: #436850;;
  grid-area: selector;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

#folder{
  grid-area: folder;
  display: block;
  max-height: 820px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--background-color);
}
.section{
  z-index: 1;
  background-color: var(--background-color);
  height: 100%;
  border:solid 1px ;
  border-radius: 20px 0 0 0 ;
  width: 100%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  & a{
    text-decoration: none;
    color: black;
  }
}


.section-selected{
  z-index: 1;
  height: 100%;
  font-weight: bold;
  border:solid 1px ;
  border-radius: 20px 0 0 0 ;
  width: 100%;
  text-align: center;
  border-bottom: none;
  cursor: pointer;
}



.curso-box{
  position: relative;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.no-pointer{
  cursor:auto;
}

.curso-box:hover{
  background-color: #ADBC9F;
}

.curso-box1{
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
  font-size: 20px;
}

#curso-box1:hover{
  background-color: #ADBC9F;
}



.error{
  color : red;
}

aside{
  background-color: var(--color2);
  color: white;
  grid-area: aside;
  align-items: center;

  & img{
      padding-top: 20px;
      padding-bottom: 30px;
      margin-left: 20px;
    }

  & #lateral{
      padding-right: 15px;
      width: 100%;

  }

  & h3 {
      margin: 0px;
      padding: 15px;
  }

  & a {
    text-decoration: none;
    color: white;
  }

  & h3:hover {
      background-color: var(--color3) ;
      margin: 0px;
      padding: 15px;
  }

  & #selected{
      background-color: var(--color3) ;
      margin-right: -20px;
     margin-right: -20px;
  }
}

footer{
  grid-area: footer;
  background-color: var(--color2);
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

header{
  background-color: var(--color2);
  color: white;
  grid-area: header;
  align-items: center;
  
  & h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}

.no-decoration{
  text-decoration: none;
  color: inherit;
}

.options{
  list-style: none;
  padding: 0px;
  display: flex;

}

.item{
  padding: 10px 15px;
  margin: 0 5px;
  background-color: white; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  color: black;
  font-weight: bold;
}

.item:hover {
  background-color: #ccc; 
}

#calendario-table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}

#calendario-table td, 
#calendario-table th {
  border: 1px solid black;
  text-align: center;
  height: calc(94.5% / 6); /* Dividindo a altura igualmente entre as linhas */
  vertical-align: top;
}

.cell-info{
  background-color: rgba(240, 84, 123, 0.25);
  color: rgb(240, 84, 123);
  border-radius: 15px;
}

.cell-header{
  text-align: left;
  height: 33%;
}

.hidden{
  background-color: #ccc;
}


.popup{
  opacity: 0;
  pointer-events: none;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  align-content: center;
  z-index: 1;

  & .events{
    display: flex;
    flex-direction: column;
    height: 400px;
    border: 5px solid var(--dark-background);
    border-radius: 50px;
    background-color: white;
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    
    & .inline-items{
      gap: 20px; /* Espaçamento entre os itens */
    }
  }

  & .events-novo-curso{
    display: block;
    position: relative;
    height: auto;
    width: 400px;
    border-radius: 30px;
    background-color: var(--background-color);
    margin: 0px auto;
    padding: 20px;

    & p{
      margin-top: 0px;
    }


    & .novo-curso-button{
      appearance: button;
      background-color: #436850;
      border: 1px solid #436850;
      border-radius: 1rem;
      box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: Inter,sans-serif;
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
      padding: .5rem 1rem;
      text-align: center;
      text-transform: none;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      margin-top: 20px;
    }

    & .novo-curso-button:hover{
      background-color: var(--color3);
      border-color: var(--color3);
    }

    & .close-button{
      position: absolute;
      top:25px;
      right:25px;
      border-radius: 15px;
    }
    
  }
}

.popup-active{
  transition: 0.3s;
  opacity: 1;
  pointer-events:visible;
  z-index: 10;
}

.today{
  background-color: #94c6659e;
}

.content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
  & label {
    width: 120px;
    font-weight: bold;
    margin-left: 20px;
  }
  & .confirm-button{
    margin-left: 0px;
  }
  & .no-margin{
    margin-left: 0px;
    margin-right: 0px;
  }
  & h2 {
    margin-left: 20px;
    margin-right: 20px
  }
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%;
  box-sizing: border-box;
}

input:readonly {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.close-button {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 69, 58, 0.8);
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: rgba(255, 69, 58, 1);
}

.confirm-button {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(119, 212, 90, 0.8);
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: rgba(119, 212, 90, 1);
}

.yellow-button {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(241, 227, 70, 0.8);
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.yellow-button:hover {
  background-color: rgba(241, 227, 70, 1);
}

.flip-v{ 
  width: auto;
  color:white;
  padding: 5px;
  background-color: #12372A;
  cursor : pointer;
}

.flip-v:after{ 
  float: right;
  right: 10%;
  content: "+";
}


.flip-h{ 
  transform: scale(-1, 1);
}

.extra {
  padding : 10px;
  background : var(--color3); 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

.extra::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: left;
  transition: height .4s ease;
}

.touch {position: absolute; opacity: 0; height: 0px;}    
.touch:checked ~ .slide {height: auto;}

.inline-items{
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 5px;
}

.ferramenta{
  margin-left: 30px;
  margin-top :30px;
  border: 1px solid black;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  
  & img{
    margin-top: 10px;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--color1);
  } 
  & .icon{
    text-align: center;
    align-content: center;
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 50pt;
    box-shadow: 0px 0px 10px var(--color1);
    position:relative;
    & .superscript {
      position: absolute; 
      top: 0; 
      right: 0;  
      color: inherit; 
      font-size: 12pt; 
      padding: 2px 5px; 
      border-radius: 20%;
    }
    & .superscript:hover{
      color:red;
      font-size: 20px;
    }
  } 
}

.aula-input{
  display: block;
  margin-left: 10px;
}

.sum-input{
  width: 100%;
}

.sum-input-new{
  width: 100%;
}

.save-button{
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: wheat;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}


.save-button:hover {
  background-color: rgba(255, 69, 58, 1);
}

.cross {
  position: relative;
}

.cross::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  border-radius: 17px;
}

.cross-1::after {
  background:
    linear-gradient(to top right, transparent 45%, rgba(255,0,0,0.55) 46%, rgba(255,0,0,0.55) 54%, transparent 55%);
}

.container {
  width: 300px; /* Defina a largura desejada */
  margin: 25px;
  padding: 10px;
  border: 2px solid black;
  background-color: wheat;
}

.scrollable-list {
  max-height: 150px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Torna a lista scrollable */
  padding: 0;
  margin: 0;
  list-style-type: none; /* Remove os marcadores de lista padrão */
}

.scrollable-list li {
  padding: 10px;
  border-bottom: 1px solid white; /* Adiciona uma linha de separação entre os itens */
}

.scrollable-list li:hover {
  background-color: #f1efb0d6;
}

.scrollable-list li:last-child {
  border-bottom: none; /* Remove a linha de separação do último item */
}

.destinatario{
  display: grid;
  position: relative;
  grid-template-columns: 180px 100px auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
      "destinatario destinatario destinatario"
      "utilizadores grupos procura "
      "destinatarios destinatarios destinatarios";

  & #utilizador{
    line-height: 0.5;
    text-align: center;
    grid-area: utilizadores;
    margin-left: 40px;
    margin-bottom: 0px;
    border: 2px solid black;
  }
  & #grupo{
    line-height: 0.5;
    text-align: center;
    padding: auto;
    grid-area: grupos;
    margin-bottom: 0px;
    border: 2px solid black;
  }

  & .procura{
    position: absolute;
    grid-area: procura;
    margin-top: 4px;
    right: 20px;
  }
  & h2{
    margin-left: 40px;
    grid-area: destinatario;
  }

  & .container{
    grid-area: destinatarios;
    height: 150px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    width: auto;
  }
}

.message-send-box{
  padding: 40px;
  padding-top: 0px;
}

.message-field{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
}

.assunto{
  height: auto;
}

& .escolhido{
  background-color: wheat;
}

.remover{
  cursor: pointer;
}

.remover:hover{
  color: red;
}

#form-div{
  position: relative;
  display: flex;
  flex-direction: row;
}

.add-remove{
  position: absolute;
  width: 40%;
  top: 50px;
  left: 50px;
  gap: 20px;
  & input{
    width: 50%;
  }

  & .inline-items{
    justify-content: left;
    align-items: left; 
    margin-bottom: 20px;
  }

  & h2{
    padding-top: 10px;
  }

}